
@import url('https://fonts.googleapis.com/css?family=Great+Vibes:regular,bold,cursive,italic&subset=latin,latin-ext');
.Decisions body{
    padding: 0;
    margin: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box 
}

.Decisions img{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.Decisions video{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  background-color: #F8F7EF!important;
}

.navbar{
  position: absolute;
  top:0;
  left:0;
  width:100%;
}
.Boxes {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  color:#F8F7EF;
}

.Boxes p{
  color:black;
  text-align: center;
  vertical-align: middle;
  font-family: "Great Vibes" !important;
}

.Boxes button{
  width: 50%;
  height: 100%;
  margin: auto;
  background-color: transparent;
  color:#F8F7EF!important;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: background-color 2s ease-out 100ms;
}

.Boxes button:hover {
  background-color: #FFD1C2;
}
