/* .Background{
    background-image: url('/Users/tarkantaboglu/Desktop/Random Projects/forAMD-frontend/for-amd/public/assets/images/Backgrounds/IMG_5828.jpg');
    flex-direction: row;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    opacity: 0.4;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
} */

.Boxes {
    background-image: url('../../public/assets/images/Backgrounds/IMG_5828.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

.box {
    opacity: 0.75;
    width: 30%; 
    height: 10%;
    background-color: #F8F7EF; 
    margin: 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

p{
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: Georgia, Times, serif;
}

