.riddle{
    text-align: center;
    margin: auto;
    justify-content: center;
    font-size: 200%;
    font-weight: bold;
    font-family: Georgia, Times, serif;
}

.puzzle-1{
    position:absolute;
    top: 30%;
    left:50%;
    transform:translate(-50%,-50%);
}

.answer-input{
    position:absolute;
    top:130%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 10%;
    font-family: Georgia, Times, serif;
}