

@import url(https://fonts.googleapis.com/css?family=Saira+Stencil+One);

.Landing body {
  padding: 0;
  margin: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Saira Stencil One", cursive!important;
  box-sizing: border-box
}

.Landing video {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box
}

.Landing h2 {
  box-sizing: border-box;
  font-family: "Saira Stencil One", cursive!important;
  position: absolute;
  top: 6%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  font-weight: 400!important;
  font-size: 7vw!important;
  text-transform: uppercase;
  background-color: #a1bfbd!important;
  mix-blend-mode: screen;
}
.navbar{
  box-sizing: border-box;
  position: absolute;
  top:0;
  left:0;
  width:100%;
}