
.large-text{
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center;
    font-size: 400%;
    font-family: Futura;
}

.description {
    position: absolute;
    top: 28%;
    width: 100%;
    text-align: center;
    font-family: Futura;
    font-size: 150%;
}

.bottom-text{
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    font-size: 150%;
    font-family: Futura;
}