.riddle-2{
    text-align: center;
    margin: auto;
    justify-content: center;
    font-size: 200%;
    font-family: Futura;
}

.puzzle-2{
    position:absolute;
    top: 43%;
    left:50%;
    transform:translate(-50%,-50%);
}