/* .welcome-note{
    position: fixed;
    width: 100%;
    height: 100%;
} */

.container{
    background-image: url('../../public/assets/images/treasureMap/Treasure Map-3.png');
    position: absolute; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    background-size:cover;
}

.welcome-note{
    margin-top: 30%;
    margin-left: 35%;
    margin-right: 25%;
    color: #F8F7EF;
    font-family:Google Sans;
    font-size:larger;
}
.welcome-note h2{
    margin-top: 500px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
}

.button{
    font-size: 20px;
    width: 640px;
    margin-left: 0px;
    margin-right: 0px;;
}

