
.container{
    position: absolute; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background-size:cover;
    background-color: black;
    min-width: 100%;
    min-height: 100%;
}

.welcome-note{
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    color: #F8F7EF;
    font-family: Futura;
    font-size: 35px;;
    /* font-weight: bold; */
}

