/* Rectangle 1 */
.boarding-pass-container {
    position: absolute;
    top: 30%;
    left: 23%;
    width: 55%;
    height: 40%;
}
.rectangle-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/worldmap.jpg');
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
    border-radius: 5%;
    font-family: Oswald;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: white;
    border-radius: 3%;
}

.rectangle-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    background: #7998B0;
    border-radius: 3%;
}

.header-1 {
    position: absolute;
    width: 25%;
    top: 50%;
    height: 100%;
    
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 15%;
    text-align: center;
    color: #FFFFFF;
}

.header-2 {
    position: absolute;
    top: 50%;
    left: 77%;
    width: 20%;
    height: 100%;
    
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 8%;
    text-align: center;
    
    color: #FFFFFF;
}

.divider {
    position: absolute;
    height: 100%;
    left: 73%;

    background-color: transparent;
    border-left: 3px dashed grey;
}

.name-1 {
    position: absolute;
    /* width: 100%; */
    height: 50%;
    top: 30%;
    left: 5%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    /* line-height: 8%; */
    
    color: #000000;
}

.name-1-background {
    position: absolute;
    width: 50%;
    height: 10%;
    top: 28%;
    left: 20%;

    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.name-1-background p {
    position: absolute;
    top: -20%;
    left: 3%;
}

.from-1 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 45%;
    left: 5%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;

    color: #000000;
}

.from-1-background {
    position: absolute;
    width: 20%;
    height: 10%;
    top: 43%;
    left: 20%;

    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.from-1-background p {
    position: absolute;
    top: -20%;
    left: 7%;
}

.to-1 {
    position: absolute;
    /* width: 100%; */
    height: 50%;
    top: 45%;
    left: 45%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;

    color: #000000;
}

.to-1-background {
    position: absolute;
    width: 20%;
    height: 10%;
    top: 43%;
    left: 50%;

    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.to-1-background p {
    position: absolute;
    top: -20%;
    left: 7%;
}

.date-1 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 60%;
    left: 5%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    /* line-height: 8%; */

    color: #000000;
}

.date-1-background {
    position: absolute;
    width: 20%;
    height: 10%;
    top: 58%;
    left: 20%;
    
    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.date-1-background p {
    position: absolute;
    top: -20%;
    left: 7%;
}

.dept-time-1 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 75%;
    left: 5%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    /* line-height: 8%; */

    color: #000000;
}

.dept-time-1-background {
    position: absolute;
    width: 40%;
    height: 10%;
    top: 73%;
    left: 30%;

    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.dept-time-1-background p {
    position: absolute;
    top: -20%;
    left: 3%;
}

.name-2 {
    position: absolute;
    /* width: 100%; */
    height: 50%;
    top: 30%;
    left: 75%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    /* line-height: 8%; */
    
    color: #000000;
}

.name-2-background {
    position: absolute;
    width: 15%;
    height: 13%;
    top: 26%;
    left: 83%;

    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.name-2-background p {
    position: absolute;
    top: -40%;
    left: 5%;
}

.from-2 {
    position: absolute;
    /* width: 100%; */
    height: 50%;
    top: 45%;
    left: 75%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;

    color: #000000;
}

.from-2-background {
    position: absolute;
    width: 5.5%;
    height: 10%;
    top: 43%;
    left: 83%;

    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.from-2-background p {
    position: absolute;
    top: -20%;
    left: 10%;
}

.to-2 {
    position: absolute;
    /* width: 100%; */
    height: 50%;
    top: 45%;
    left: 89.5%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;

    color: #000000;
}

.to-2-background {
    position: absolute;
    width: 5.5%;
    height: 10%;
    top: 43%;
    left: 93.5%;

    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.to-2-background p {
    position: absolute;
    top: -20%;
    left: 10%;
}

.date-2 {
    position: absolute;
    /* width: 100%; */
    height: 50%;
    top: 60%;
    left: 75%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    /* line-height: 8%; */

    color: #000000;
}

.date-2-background {
    position: absolute;
    width: 8%;
    height: 10%;
    top: 58%;
    left: 83%;
    
    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.date-2-background p {
    position: absolute;
    top: -20%;
    left: 7%;
}

.dept-time-2 {
    position: absolute;
    /* width: 100%; */
    height: 50%;
    top: 75%;
    left: 75%;

    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    /* line-height: 8%; */

    color: #000000;
}

.dept-time-2-background {
    position: absolute;
    width: 20%;
    height: 10%;
    top: 83%;
    left: 75%;

    background: #D9D9D9;
    font-size: 150%;
    font-weight: 900;
}

.dept-time-2-background p {
    position: absolute;
    top: -20%;
    left: 3%;
}