@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  .shake {
    animation: shake 0.8s;
  }
  
  .answer-input{
    position:absolute;
    top:110%;
    left:15%;
    /* transform:translate(-50%,-50%); */
    text-align: center;
    font-size: 60%;
    /* font-family: Georgia, Times, serif; */
}

.answer-input input {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.answer-input button {
    border: none;
    background-color: transparent;
}