.Box{
    width:25%;
    height:60%;
    background-color:#336A66;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 5%;
}


.Welcome{
    color: #F3E5AB;
    font-family: Georgia, Times, serif;
    margin-top: 20%;
    text-align: center;
    font-size: 350%;

}

.Username {
    height:20px;
    text-align: left;
    margin-top: 30%;
    padding-left: 3%;
}

.Username p {
    color: #F8F7EF;
    font-family: Georgia, Times, serif;
    font-weight: 400;
    font-size: 200%;
}

.usernameInput {
    padding-left: 3%;
    padding-top: 3%;
}

.Password {
    height:20px;
    text-align: left;
    padding-left: 3%;
}

.Password p {
    color: #F8F7EF;
    font-family: Georgia, Times, serif;
    font-weight: 400;
    font-size: 200%;
}

.passwordInput {
    padding-left: 3%;
    padding-top: 3%;
}

button {
    margin-top: 2%;
    margin-left: 3%;
    color: black;
    border: none;
    background-color: #F8F7EF;
    cursor: pointer;
}