/* Add a black background color to the top navigation */
.topnav {
    justify-content: space-between;
    background-color: #336A66;
    overflow: hidden;
    font-size: 25px;
    font-family: Georgia, Times, serif;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .left {
    float: left;
    color: #F8F7EF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .right {
    float: right;
    color: #F8F7EF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #F8F7EF;
    color: #336A66;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }